<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD2mWzZIOkWubeSLNpTWvontneo76feO8</string>
	<key>GCM_SENDER_ID</key>
	<string>1080920864391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseAppTracker</string>
	<key>PROJECT_ID</key>
	<string>video-audio-chat-app-76d06</string>
	<key>STORAGE_BUCKET</key>
	<string>video-audio-chat-app-76d06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080920864391:ios:093be1727877d6e362ea22</string>
</dict>
</plist>